.login-form-google {
  margin-bottom: 16px;
}

.login-form-facebook {
}

.login-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 170px;
}

.text-end {
  text-align: right;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #333;
}

.register-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 70px;
}

.change-pw-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.change-pw-form .ant-form-item-label {
  text-align: left;
}

.music-list-drawer {
  .ant-drawer-content {
    background: #37075d;
    border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  }

  .ant-tabs-tab {
    color: #fff;
  }

  .ant-tabs-tab-btn:active {
    color: var(--link-text-hover) !important;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--link-text-hover) !important;
  }

  .ant-tabs-ink-bar {
    background-color: var(--link-text-hover) !important;
  }
}

.row__item-img.img--skeleton {
  .ant-skeleton {
    position: absolute;
    inset: 0;

    & > span {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.my-account {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 70px;

  .ant-descriptions-item-label {
    width: 40%;
  }
}

.forgotten-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 170px;
}

.d-f-justify-end {
  display: flex;
  justify-content: flex-end;
}

.d-f-c {
  display: flex;
  justify-content: center;
}

.album-name {
  font-size: 1.7rem;
  margin: 0;
  margin-top: 20px;
}

.artist-feature-custom {
  .app__header-user {
    height: 300px;
    top: 70px;
  }

  .content {
    padding-top: 350px;
  }
}