
.login-form-google {
  margin-bottom: 16px;
}

.login-form-facebook {
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 200px;
}

.text-end {
  text-align: right;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #fff;
}

.register-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 200px;
}