.login-form-google {
  margin-bottom: 16px;
}

.login-form-facebook {
}

.login-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 170px;
}

.text-end {
  text-align: right;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #333;
}

.register-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 70px;
}

.change-pw-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.change-pw-form .ant-form-item-label {
  text-align: left;
}
